-
  let listItems1 = [
    {
      'icon': 'at',
      'email': {
        'to': appData.meta.email,
        'subject': '',
        'body': 'Добрый день!',
      },
    },
    {
      // 'icon': 'tel',
      'href': 'https://rusauto53.ru/callback/',
      'text': 'Обратный звонок',
    }
  ]

aside.side-panel
  +list({
    items: listItems1,
    ordered: false
  })(class='actions')
