-
  let social = [
    {
      'icon': 'vk',
      'href': 'https://vk.com/rusauto53',
    }, {
      'icon': 'ig',
      'href': 'https://www.instagram.com/',
    }
  ]

footer.page__footer
  //- .copy= `© ${new Date().getFullYear()}, ООО «${appData.meta.name}»`
  p.overline
    | © #{new Date().getFullYear()} «Рус-Авто Сервис»
  //-
    a(href="https://rusauto53.ru/privacy/" target="_blank")
      | Правовая информация

  +list({
    items: social,
    ordered: false
  })(class='social')

  span.byline
    | Сделано в «RMMR Studio»
