//-
  <!--[if IE]>
  <![endif]-->

.browser-update
  .browser-update__message
    | Пожалуйста, просмотрите этот сайт в современном браузере,
    |
    | #[a(href="https://caniuse.com/css-variables" target="_blank" rel="noopener noreferrer") который поддерживает CSS переменные].
    | #[br]
    | Например,
    |
    .browser-update__brands
      .browser-update__brand
        a(href="https://www.mozilla.org/ru/firefox/new/" target="_blank" rel="noopener noreferrer" title="Firefox Browser")
          include ../images/fx-logo.svg
      |
      | #[i или ]
      |
      .browser-update__brand
        a(href="https://brave.com/download/" target="_blank" rel="noopener noreferrer" title="Brave Browser")
          include ../images/brave-logo.svg
