include ./mixins

block vars

doctype html
html(class="no-js" dir="ltr" lang="ru")
  head
    include ./_meta
    include ./_fonts
    link(rel="stylesheet" type="text/css" href="./scss/main.scss")
    //- base(href= appData.meta.baseURL target="_blank")
    block head
  body.page.page--loading(itemscope itemtype="https://schema.org/WebPage")
    noscript
      | #[h2 В вашем браузере необходимо включить JavaScript.]
    include ./_header
    main(data-id= page.id)
      block content
    include ./_footer
    //- include ./_cursor

    script(src="./js/index.js")
    block scripts
