@use '../config';

$domain: 'rusauto53.ru';

a {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:link,
  &:visited {
    color: var(--link-text-color, var(--foreground));
    transition: all 150ms ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--link-text-color, var(--foreground));

    &:not([class*='cta']) {
      text-shadow: none;
      background:
        linear-gradient(
          to right,
          var(--light-red),
          calc(100% - (100% / 3 * 2)),
          var(--dark-red)
        );

      /* autoprefixer: ignore next */
      -webkit-text-fill-color: transparent;
      background-clip: text;
      box-decoration-break: clone;
    }
  }

  // @media(hover: none) {}

  &:focus-visible { outline: 2px dotted var(--foreground); }

  &[href*='://']:not([href*='#{$domain}'], [class*='cta'])::after {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 0.75em;
    font-weight: 500;
    content: var(--arrow, ' ↗');
  }

  &[download]::after { --arrow: ' ↓'; }

  &[class*='cta'] {
    // @include config.directional-clipping();

    display: inline-flex;
    min-block-size: 44px;
    padding: 1ch 2ex;
    overflow: hidden;
    line-height: 1.1;
    // cursor: pointer;
    background:
      linear-gradient(
        135deg,
        hsl(var(--torch-red)) 0%,
        hsl(var(--maroon)) 100%
      );
    border-radius: 0.5rem;
    box-shadow: var(--glow);
    justify-content: space-around;
    align-items: center;

    &:hover { filter: brightness(120%); }

    &:is(:focus, :active) { transform: translateY(1px); }
  }

  .social & { --arrow: ''; }

  & > [data-icon] {
    --size: 1.25rem;
    display: block;
    inline-size: var(--size);
    block-size: var(--size);
    filter: opacity(0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @each $i in (vk, ig, tel, at) {
    > [data-icon=#{$i}] {
      // background-image: url('../images/#{$i}.svg');
      background-image: var(--#{$i});
    }
  }
}
