@use '../config';

a {
  position: relative;

  &:link,
  &:visited {
    &:not([class*='badge']) {
      color: var(--link-text-color, var(--foreground));
      transition: all 150ms ease-in-out;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--link-text-color, var(--foreground));

    &:not([class*='badge'], [class*='cta']) {
      text-shadow: none;
      background:
        linear-gradient(
          to right,
          #ff4d4d,
          calc(100% - (100% / 3 * 2)),
          #a70000
        );

      /* autoprefixer: ignore next */
      -webkit-text-fill-color: transparent;
      background-clip: text;
      box-decoration-break: clone;
    }
  }

  // @media(hover: none) {}

  &:focus-visible { outline: 2px dotted var(--foreground); }

  &[href*='://']:not([class*='badge'], [class*='cta'])::after {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 0.75em;
    font-weight: 500;
    content: var(--arrow, ' ↗');
  }

  &[download]::after { --arrow: ' ↓'; }

  &[class*='cta'] {
    // @include config.directional-clipping();

    display: inline-flex;
    min-block-size: 44px;
    padding: 1ch 2ex;
    overflow: hidden;
    line-height: 1.1;
    cursor: pointer;

    background: linear-gradient(135deg, #f81717 0%, #7d0000 100%);
    // background-color: #c00;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px hsl(0 0% 0% / 0.1), 0 4px 12px hsl(0 94.1% 53.1% / 0.5);
    justify-content: space-around;
    align-items: center;

    &:hover { filter: brightness(120%); }

    &:is(:focus, :active) { transform: translateY(1px); }
  }
}
