@use '../config';

.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [content-start start-half-start] minmax(0, 1fr)
    [center-start] minmax(0, 2fr)
    [start-half-end end-half-start] minmax(0, 2fr)
    [center-end] minmax(0, 1fr)
    [end-half-end content-end] minmax(0, 1fr)
    [full-end];
  grid-template-rows: minmax(min-content, 1fr);
  column-gap: var(--gutter);
  row-gap: calc(var(--gutter) * 2);

  @for $i from 1 through 10 {
    .container:nth-child(#{$i}) {
      grid-row: $i;
    }
  }
}

.content {
  grid-column: content-start / content-end;
  grid-column: content;
  display: grid;
}

.full {
  grid-column: full-start / full-end;
  grid-column: full;
}

.start-half,
.end-half,
.center {
  grid-column: content;
}

@include config.respond('tablet') {
  .grid { row-gap: 7.5rem; }

  .start-half {
    grid-column: start-half-start / start-half-end;
  }

  .end-half {
    grid-column: end-half-start / end-half-end;
  }

  .center {
    grid-column: center-start / center-end;
  }
}

@for $i from 1 through 4 {
  [data-columns='#{$i}'] {
    display: grid;
    // grid-template-columns: 1fr;

    @include config.respond('tablet') {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: inherit;
  grid-template-columns: subgrid;
  grid-column: full;
  column-gap: inherit;
  row-gap: 2.5rem;
  padding-inline: var(--gutter);

  &--xl { max-inline-size: 1280px; }

  > h3,
  h3 + .desc {
    max-inline-size: 30ch;
    grid-column: 1 / -1;
    justify-self: center;
    hyphens: none;
    text-align: center;
  }

  // Счётчики
  &:nth-child(1) {
    background:
      linear-gradient(
        180deg,
        var(--red) 0%,
        hsl(0 0% 0% / 0) 100%
      );

    li {
      place-self: start center;
      row-gap: 1rem;
      padding: 1rem;
      text-align: center;
    }
  }

  // Преимущества
  // &:nth-child(2) {}

  // Услуги
  &:nth-child(3) {
    .start-half {
      position: relative;
      overflow: hidden;
    }

    .end-half {
      // columns: auto 2;
    }
  }

  // Логотипы
  &:nth-child(4) {
    display: inline-flex;
    block-size: calc(3.5rem + 120px);

    &::before {
      position: absolute;
      top: 0;
      left: -20%;
      z-index: -1;
      inline-size: 140%;
      block-size: 100%;
      content: '';
      background-color: var(--foreground);
    }
  }

  // Оборудование
  // &:nth-child(5) {}

  // Услуги
  &:nth-child(3),
  // Призыв к действию
  &:nth-child(6) {
    article {
      --flow-space: 1.5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    picture,
    img { block-size: 100%; }

    li { padding-inline-start: 1.5rem; }

    // li::marker { content: '✓'; }
    li::after {
      position: absolute;
      top: 0.44rem;
      left: 0.5rem;
      display: block;
      width: 7px;
      height: 12px;
      content: '';
      border-color: var(--foreground);
      border-style: solid;
      border-width: 0 2px 2px 0;
      transform: rotate(var(--rz, 43deg));
      transform-origin: top;
    }

    .cta {
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.0625rem;
    }
  }

  // Трансляция
  &:nth-child(7) {
    background-image:
      linear-gradient(
        0deg,
        rgba(27, 31, 35, 0.7),
        rgba(27, 31, 35, 0.7)
      ),
      url('../images/hero/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    place-items: center;

    > section {
      inline-size: 100%;
      margin-block: 60px;
      // grid-column: 3 / span 4;

      > * + * { margin-block-start: var(--flow-space); }

      iframe {
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.2));
        // filter: blur(1rem);
        border-radius: 1rem;
      }
    }

    .vp-wrapper {
      @include config.aspect-ratio('3/4');

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        content: '';
        background:
          linear-gradient(
            107.55deg,
            rgba(250, 250, 250, 0.56) 0%,
            rgba(255, 255, 255, 0.32) 100%,
            rgba(250, 250, 250, 0.24) 100%
          ),
          rgba(204, 0, 0, 0.2);
        border-radius: 16px;
        backdrop-filter: blur(15px);
      }
    }
  }

  // Истории клиентов
  // &:nth-child(8) {}

  // Карта
  &:nth-child(9) {
    block-size: 80vh;

    > div { grid-column: 1 / -1; }
  }
}
