@use '../config';

main {
  min-inline-size: 100%;
  // block-size: 100%;
  // contain: size;
}

.grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [content-start start-half-start] minmax(0, 1fr)
    [center-start] minmax(0, 2fr)
    [start-half-end end-half-start] minmax(0, 2fr)
    [center-end] minmax(0, 1fr)
    [end-half-end content-end] minmax(0, 1fr)
    [full-end];
  grid-template-rows: minmax(min-content, 1fr);
  column-gap: var(--gutter);
  row-gap: calc(var(--gutter) * 2);
  overflow-x: hidden;
  contain: layout;

  @for $i from 1 through 10 {
    .container:nth-child(#{$i}) {
      grid-row: $i;
    }
  }

  &__content {
    grid-column: content-start / content-end;
    grid-column: content;
    display: grid;
  }

  &__full {
    grid-column: full-start / full-end;
    grid-column: full;
  }

  &__start-half,
  &__end-half,
  &__center {
    grid-column: content;
  }

  @include config.respond('tablet') {
    & { row-gap: 7.5rem; }

    &__start-half {
      grid-column: start-half-start / start-half-end;
    }

    &__end-half {
      grid-column: end-half-start / end-half-end;
    }

    &__center {
      grid-column: center-start / center-end;
    }
  }
}

@for $i from 1 through 4 {
  [data-columns='#{$i}'] {
    display: grid;

    @include config.respond('tablet') {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

.reveal-wrapper {
  overflow: hidden;
  text-align: center;
  justify-self: center;
}

picture { overflow: hidden; }

.desc { max-inline-size: 30ch; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: inherit;
  grid-template-columns: subgrid;
  grid-column: full;
  column-gap: inherit;
  row-gap: var(--spacer-3);
  padding-inline: var(--gutter);

  @include config.respond('tablet') {
    row-gap: var(--gutter);
  }

  &--xl { max-inline-size: 1280px; }

  // Счётчики
  &:nth-child(1) {
    // background:
    //   linear-gradient(
    //     180deg,
    //     var(--red) 0%,
    //     hsl(0 0% 0% / 0) 100%
    //   );
    background:
      linear-gradient(
        180deg,
        hsl(var(--torch-red)),
        calc(100% - (100% / 3 * 2)),
        hsl(var(--torch-red) / 0)
      );

    li {
      place-self: start center;
      row-gap: var(--flow-space);
      padding: var(--spacer-1);
      text-align: center;
    }
  }

  // Логотипы
  &:nth-child(4) {
    display: inline-flex;
    block-size: calc(3.5rem + 120px);

    &::before {
      position: absolute;
      top: 0;
      left: -20%;
      z-index: -1;
      inline-size: 140%;
      block-size: 100%;
      content: '';
      background-color: var(--foreground);
    }
  }

  &:nth-child(3),
  &:nth-child(6) {
    article {
      --flow-space: 1.5rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      --size: 1rem;

      padding-inline-start: calc(var(--size) + 0.5rem);

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        inline-size: var(--size);
        block-size: var(--size);
        line-height: 1;
        content: var(--bullet);
        filter: drop-shadow(0 0 8px hsl(var(--torch-red) / 0.75));
        transform: translateY(-50%);
      }
    }

    picture,
    img {
      block-size: 100%;
      border-radius: 0.5rem;
    }
  }

  &:nth-child(6) .grid__end-half { grid-row: 1; }

  // Трансляция
  &:nth-child(7) {
    background-image:
      linear-gradient(
        0deg,
        hsl(210 13% 12% / 0.7),
        hsl(210 13% 12% / 0.7)
      ),
      url('../images/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    place-items: center;

    > section {
      inline-size: 100%;
      margin-block: calc(var(--gutter) * 2);

      > * + * { margin-block-start: var(--gutter); }

      iframe {
        filter: drop-shadow(0 10px 20px hsl(0 0% 0% / 0.2));
        border-radius: var(--radii-2);
      }
    }

    .vp-wrapper {
      @include config.aspect-ratio('9/16');
    }
  }

  // Истории клиентов
  // &:nth-child(8) {}

  // Карта
  &:nth-child(9) {
    block-size: 80vh;

    > div { grid-column: full; }
  }
}
