@use '../config';

.page__footer {
  @include config.flow();

  // position: fixed;
  // bottom: 0;
  // z-index: 1010;
  display: flex;
  inline-size: 100%;
  padding-block: var(--spacer-2);
  padding-inline: var(--gutter);
  font-size: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .social {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;

    > * + * {
      padding-inline-start: var(--spacer-1);
      border-inline-start: 1px solid hsl(var(--offwhite) / 0.25);
    }

    li { align-items: center; }
  }

  @include config.respond('tablet') {
    & {
      --flow-space: 0;
      flex-direction: row;
    }
  }
}
