@use '../config';

.page__footer {
  @include config.flow();

  // position: fixed;
  // bottom: 0;
  // z-index: 1010;
  display: flex;
  inline-size: 100%;
  padding-block: var(--spacer-2);
  padding-inline: var(--gutter);
  font-size: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  > ul {
    li { align-items: center; }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: var(--spacer-1);
    }
  }

  a {
    --arrow: '';
    --size: 1.25rem;

    display: inline-block;
    overflow: hidden;
    cursor: pointer;

    > [data-icon] {
      display: block;
      inline-size: var(--size);
      block-size: var(--size);
      filter: opacity(0.7);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @each $i in (vk, ig, tel, at) {
      > [data-icon=#{$i}] {
        // background-image: url('../images/#{$i}.svg');
        background-image: var(--#{$i});
      }
    }
  }

  @include config.respond('tablet') {
    & {
      --flow-space: 0;
      flex-direction: row;
    }
  }
}
