@use '../config';

.page__footer {
  @include config.flow(1em);

  position: fixed;
  bottom: 0;
  z-index: 1010;
  display: flex;
  inline-size: 100%;
  padding-block: 1em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  > ul {
    &:nth-of-type(1) {
      grid-template-columns: 1fr auto;
      gap: 1em;
    }
    &:nth-of-type(2) { grid-template-columns: repeat(3, 1fr); }
    &:nth-of-type(3) { grid-template-columns: repeat(2, 1fr); }
  }

  // .byline { font-style: italic; }

  a {
    --arrow: '';
    --size: 1.25rem;

    display: inline-block;
    min-inline-size: var(--size);
    block-size: var(--size);
    overflow: hidden;
    cursor: pointer;

    [data-theme-style='light'] & { filter: invert(100%); }

    > [data-icon] {
      display: block;
      inline-size: 100%;
      block-size: 100%;
      background-color: var(--foreground);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @each $i in (vk, ig, ta, tel, at) {
      > [data-icon=#{$i}] {
        background-image: url('../images/#{$i}.svg');
      }
    }
  }

  @include config.respond('tablet') {
    & {
      --flow-space: 0;
      flex-direction: row;
    }
  }
}
