@use '../config';

.slides {
  position: relative;
  inline-size: 100%;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    margin-inline: auto;
  }

  &__slide {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    min-inline-size: 100vw;
    min-block-size: 100vh;
    padding-inline: var(--gutter);
    flex: 0 0 100%;
    // content-visibility: auto;
  }

  .bg-image {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: var(--bg-position, center);
    background-size: cover;

    @for $i from 1 through 2 {
      .webp &:nth-child(#{$i}) {
        background-image:
          linear-gradient(
            0deg,
            rgba(27, 31, 35, 0.7),
            rgba(27, 31, 35, 0.7)
          ),
          url('../images/hero/#{$i}.webp');
      }
      .no-webp &:nth-child(#{$i}) {
        background-image:
          linear-gradient(
            0deg,
            rgba(27, 31, 35, 0.7),
            rgba(27, 31, 35, 0.7)
          ),
          url('../images/hero/#{$i}.jpg');
      }
    }

    &:nth-child(1) { --bg-position: bottom center; }
  }

  &__text {
    min-inline-size: 100%;
    place-self: center;
    color: var(--foreground);
    text-align: center;

    h4 {
      background-image:
        radial-gradient(
          circle at 50%,
          var(--foreground) 1px,
          transparent 0
        );
      background-position: left 0.5em;
      background-size: 6px calc(1.5 * 1em);
    }

    > * + * { margin-block-start: var(--flow-space); }
  }

  &__counter {
    position: absolute;
    top: var(--gutter);
    left: var(--gutter);
    display: flex;
    padding: 2rem 0.5rem;
    font-weight: 500;
    line-height: 1;
    color: var(--foreground);
    text-shadow: 0 1px 1px rgba(27, 31, 35, 0.25);
    // background-color: hsl(var(--black) / 0.7);
    background-color: hsl(var(--torch-red) / 0.7);
    backdrop-filter: blur(15px);
    // box-shadow: var(--glow);
    align-items: center;
    font-variant-numeric: tabular-nums;
    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);

    // &-current { font-size: 6vmax; }

    &-max {
      position: relative;
      font-size: 2vmax;

      &::before {
        padding: 0 8px;
        content: '/';
      }
    }
  }

  &__control {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    inline-size: 100%;
    padding-inline: var(--gutter);
    // filter: drop-shadow(0 4px 12px hsl(var(--torch-red) / 0.5));
    transform: translateY(-50%);
    justify-content: space-between;

    .next,
    .prev {
      --full: 44px; // 2.75rem
      --s: 1;

      position: relative;
      inline-size: var(--full);
      block-size: var(--full);
      text-align: center;
      cursor: pointer;
      background-color: hsl(var(--torch-red) / 0.75);
      border-radius: 0;
      transition: all 150ms ease-in-out;
      transform: scale(var(--s));
      clip-path: var(--geometry);

      // &::before {
      //   content: var(--arrow);
      //   display: inline-flex;
      //   position: absolute;
      //   font-size: 3vmax;
      // }

      &:focus-visible,
      &:active {
        --s: 0.8;
      }
    }

    .next {
      --geometry: polygon(0 0, 50% 0, 100% 50%, 50% 100%, 0 100%, 50% 50%);
      // --arrow: '\2192';
    }

    .prev {
      --geometry: polygon(100% 0, 50% 0, 0% 50%, 50% 100%, 100% 100%, 50% 50%);
      // --arrow: '\2190';
    }
  }

  @include config.respond('tablet') {
    & {
      &__slide {
        display: grid;
        padding-inline: var(--gutter);
      }

      &__control {
        top: 50%;
        bottom: unset;
      }

      &__counter {
        top: unset;
        right: var(--gutter);
        bottom: var(--gutter);
        left: unset;
      }
    }
  }
}
