@use 'config';

* {
  @include config.scrollbar;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &::selection {
    color: var(--selection-foreground, inherit);
    text-shadow: none;
    background: var(--selection-background, inherit);

    /* autoprefixer: ignore next */
    -webkit-tap-highlight-color: hsl(0 0% 0% / 0);
  }
}

:root {
  --location: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 76 60'%3E%3Cpath fill='%23F81717' d='M54.162 42.874h-.013a1.209 1.209 0 01-1.025-.59L41.648 23.013a1.195 1.195 0 01-.082-.168 14.977 14.977 0 01-2.187-7.802C39.395 6.744 46.153 0 54.447 0h.018a14.954 14.954 0 0110.646 4.428A14.967 14.967 0 0169.5 15.083a15.03 15.03 0 01-2.177 7.76 1.152 1.152 0 01-.107.223l-12.03 19.241c-.221.352-.609.567-1.024.567zM43.834 21.963l10.353 17.386L65.034 22c.027-.073.061-.146.104-.214a12.63 12.63 0 001.946-6.703v-.002A12.567 12.567 0 0063.4 6.13a12.562 12.562 0 00-8.938-3.716h-.016c-6.966 0-12.64 5.662-12.652 12.63 0 2.378.669 4.697 1.934 6.706.043.067.078.139.106.213z'/%3E%3Cpath fill='%23F81717' d='M54.45 20.698h-.012c-1.7 0-3.3-.664-4.504-1.87a6.333 6.333 0 01-1.863-4.516c.001-1.7.666-3.299 1.872-4.501a6.337 6.337 0 014.503-1.861h.007c3.513.004 6.37 2.868 6.366 6.384a6.33 6.33 0 01-1.872 4.505 6.328 6.328 0 01-4.496 1.86zm-.005-10.334c-1.056 0-2.05.411-2.798 1.157a3.926 3.926 0 00-1.162 2.795 3.938 3.938 0 001.158 2.807 3.926 3.926 0 002.797 1.16h.008a3.93 3.93 0 002.794-1.154 3.928 3.928 0 001.162-2.796 3.967 3.967 0 00-3.955-3.968h-.004zm5.167 3.97h.008-.008zM74.163 60H1.837a1.207 1.207 0 01-1.11-1.682l13.156-30.78c.19-.445.627-.734 1.11-.734h31.043a1.207 1.207 0 110 2.415H15.79L3.666 57.584h68.667l-11.75-27.486a1.207 1.207 0 112.221-.95l12.468 29.169A1.209 1.209 0 0174.162 60z'/%3E%3Cpath fill='%23F81717' d='M54.304 59.783a1.207 1.207 0 01-1.197-1.07c-.008-.06-.779-6-9.096-7.41-.773-.132-2.007-.252-3.436-.39-7.871-.76-15.05-1.75-16.435-5.43-.894-2.374.412-4.184 1.46-5.639 1.147-1.592 1.526-2.287.94-3.286-.371-.633-1.553-1.148-2.696-1.646-2.237-.976-5.302-2.312-5.318-5.974a1.207 1.207 0 011.201-1.213h.006c.665 0 1.204.537 1.207 1.202.01 1.948 1.468 2.724 3.87 3.771 1.497.653 3.045 1.328 3.814 2.639 1.436 2.45-.01 4.456-1.064 5.92-.99 1.373-1.576 2.27-1.16 3.376.97 2.578 10.046 3.456 14.408 3.878 1.475.142 2.75.266 3.608.411 10.086 1.712 11.054 9.2 11.09 9.518a1.207 1.207 0 01-1.202 1.343z'/%3E%3C/svg%3E");
  --speed: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 60 60'%3E%3Cpath fill='%23F81717' d='M51.9 24.613a22.065 22.065 0 00-14.322-5.266c-1.67 0-3.275.193-4.816.514-.835-4.303-4.11-7.45-9.57-9.055-4.11-1.22-8.027-1.092-8.156-1.092-.514 0-.899.45-.963.963 0 .514.385.964.899.964 3.404.192 4.303 4.495 4.56 5.78.514 3.21-.257 5.715-.835 5.908-.578.257-1.285.128-1.991-.193-1.541-.77-3.596-3.018-4.752-7.128C8.934 6.053 1.293 6.76 1.164 6.76c-.45.064-.835.45-.835.899 0 .45.257.899.771 1.027 4.046.9 3.211 7.643 2.505 13.616-.257 2.247-.514 4.367-.514 6.1.257 14.772 10.596 16.506 12.652 16.698a22.12 22.12 0 009.376 14.707.729.729 0 00.514.193h23.89c.258 0 .514-.129.707-.321 5.909-4.175 9.44-10.918 9.44-18.175 0-6.037-2.44-11.56-6.422-15.606L51.9 24.613zM5.018 28.338c0-1.54.192-3.66.45-5.78.513-4.495 1.155-9.761-.515-12.973 1.799.964 3.854 2.955 5.01 7.065 1.156 3.982 3.34 7.064 5.78 8.285 1.22.578 2.44.706 3.532.257 1.99-.771 2.569-4.689 2.055-8.028-.321-2.12-1.092-3.918-2.055-5.138 4.303.642 10.468 2.633 11.56 8.413-8.927 2.826-15.414 11.239-15.414 21.13 0 .577 0 1.091.065 1.669-2.312-.385-10.212-2.312-10.468-14.9zM49.202 58.01H25.954c-5.266-3.725-8.413-9.697-8.606-16.12h3.79c.513 0 .963-.45.963-.963a.988.988 0 00-.964-.963h-3.725c.322-4.496 2.184-8.606 5.01-11.817l2.825 2.825c.193.193.45.257.707.257.257 0 .514-.064.706-.257a.931.931 0 000-1.348l-2.89-2.89c3.404-3.211 7.9-5.202 12.845-5.46v4.111c0 .514.45.963.963.963.514 0 .964-.45.964-.963v-4.11c4.56.193 8.67 1.927 11.945 4.688l-3.532 3.532a.931.931 0 000 1.35c.192.192.45.256.706.256.257 0 .514-.064.707-.257l3.596-3.596a19.895 19.895 0 015.523 10.66c0 .065.193 1.927.193 1.991h-3.66a.988.988 0 00-.964.964c0 .514.45.963.963.963h3.79c.064.514 0-.835 0-.321 0 6.55-3.212 12.716-8.606 16.505z'/%3E%3Cpath fill='%23F81717' d='M50.551 39.963H42.01c-.45-2.056-2.248-3.533-4.432-3.533-2.504 0-4.495 2.056-4.495 4.496 0 2.44 2.055 4.495 4.495 4.495a4.552 4.552 0 004.432-3.532h8.605c.514 0 .964-.45.964-.963 0-.514-.514-.963-1.028-.963zm-12.973 3.532a2.576 2.576 0 01-2.569-2.569 2.576 2.576 0 012.57-2.569c1.412 0 2.632 1.156 2.632 2.569s-1.22 2.569-2.633 2.569zM34.753 12.026c1.734 1.284 3.403 2.505 3.853 3.725.128.385.514.578.899.578s.706-.193.9-.578c1.027-2.184 1.669-7.193-3.084-10.34a63.985 63.985 0 00-3.532-2.12c-1.734-.963-3.147-1.733-4.174-2.954a1.185 1.185 0 00-1.028-.32c-.385.128-.642.385-.706.77 0 .193-.578 4.367 3.34 8.285 1.027 1.156 2.311 2.055 3.532 2.954zm-1.927-7c1.027.578 2.184 1.22 3.404 2.055 2.826 1.862 3.082 4.431 2.89 6.1-.9-.898-2.055-1.797-3.211-2.632-1.156-.835-2.377-1.734-3.276-2.698-1.605-1.605-2.312-3.21-2.633-4.495.835.578 1.798 1.092 2.826 1.67z'/%3E%3C/svg%3E");
  --discount: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 60 60'%3E%3Cpath fill='%23F81717' d='M39.248 22.026L19.51 37.712c-.393.327-.523.98-.131 1.373a.932.932 0 00.784.392c.196 0 .458-.065.588-.196L40.49 23.595c.392-.327.523-.98.13-1.373-.326-.457-.914-.523-1.372-.196zM24.804 29.02c.262 0 .523 0 .784-.066 2.68-.392 4.575-2.94 4.118-5.686A5.04 5.04 0 0027.746 20a4.867 4.867 0 00-3.66-.915 5.04 5.04 0 00-3.269 1.96 4.867 4.867 0 00-.915 3.66c.392 2.55 2.55 4.315 4.902 4.315zm-.457-7.909c.13 0 .326-.065.457-.065 1.438 0 2.745 1.046 2.941 2.549.262 1.634-.85 3.137-2.483 3.399-1.634.26-3.138-.85-3.4-2.484-.26-1.634.916-3.137 2.485-3.399zM35.261 32.288a4.965 4.965 0 00-4.967 4.967 4.965 4.965 0 004.967 4.967 4.965 4.965 0 004.968-4.967c-.066-2.745-2.288-4.967-4.968-4.967zm0 7.908c-1.634 0-3.006-1.372-3.006-3.006 0-1.634 1.372-3.007 3.006-3.007 1.634 0 3.007 1.373 3.007 3.007-.065 1.699-1.373 3.006-3.007 3.006z'/%3E%3Cpath fill='%23F81717' d='M59.706 30c0-.065.065-.196.065-.261 0-2.81-2.94-4.249-5.49-5.49-1.83-.916-3.79-1.896-4.314-3.072-.523-1.242.196-3.268.915-5.164.98-2.68 1.961-5.425.131-7.255s-4.444-1.176-7.059-.588c-1.83.392-3.725.85-4.967.327-1.242-.523-2.288-2.157-3.268-3.726C34.281 2.55 32.712 0 29.967 0c-2.745 0-4.313 2.549-5.686 4.837-.98 1.634-1.96 3.268-3.203 3.79-1.241.523-3.202.066-5.032-.392-2.615-.653-5.294-1.307-7.06.458-1.83 1.83-.914 4.575-.064 7.255.653 1.96 1.241 3.921.719 5.229-.523 1.241-2.353 2.156-4.118 3.071-2.484 1.308-5.294 2.745-5.294 5.49 0 .066 0 .197.065.262 0 .065-.065.196-.065.261 0 2.746 2.81 4.249 5.294 5.49 1.765.916 3.595 1.83 4.118 3.073.522 1.241-.131 3.268-.72 5.228-.85 2.68-1.764 5.425.066 7.255s4.51 1.111 7.059.458c1.83-.458 3.79-.915 5.032-.392 1.242.522 2.223 2.156 3.203 3.79C25.654 57.451 27.222 60 29.967 60s4.38-2.549 5.752-4.771c.98-1.569 2.026-3.203 3.268-3.726 1.307-.523 3.137-.13 4.967.327 2.55.588 5.229 1.242 7.06-.588 1.83-1.83.849-4.575-.132-7.255-.719-1.96-1.438-3.922-.915-5.163.523-1.242 2.419-2.157 4.314-3.072 2.55-1.308 5.49-2.745 5.49-5.49 0-.131-.065-.197-.065-.262zm-6.34 3.987c-2.157 1.111-4.444 2.222-5.229 4.118-.85 1.96.066 4.313.85 6.6.784 2.158 1.569 4.25.588 5.164-1.046 1.046-3.072.589-5.229.066-2.156-.523-4.313-.98-6.209-.196-1.83.784-3.006 2.614-4.117 4.444-1.242 1.96-2.419 3.856-4.118 3.856-1.634 0-2.81-1.895-4.052-3.921-1.111-1.896-2.288-3.791-4.118-4.576-1.895-.784-4.118-.261-6.274.327-2.157.523-4.184 1.046-5.23.066-.98-.98-.326-3.072.393-5.23.719-2.287 1.503-4.64.653-6.535-.784-1.895-2.94-3.007-5.032-4.052-2.157-1.111-4.183-2.157-4.183-3.791 0-.066 0-.196-.066-.262 0-.065.066-.196.066-.261 0-1.569 2.026-2.614 4.183-3.79 2.091-1.047 4.248-2.158 5.032-4.053.785-1.961.066-4.314-.653-6.536-.719-2.222-1.373-4.314-.392-5.229 1.046-1.046 3.072-.523 5.229.065 2.156.523 4.379 1.112 6.274.327 1.83-.784 3.007-2.68 4.118-4.575 1.241-2.026 2.353-3.921 4.052-3.921 1.7 0 2.876 1.895 4.118 3.856 1.176 1.83 2.353 3.66 4.117 4.444 1.896.785 4.053.262 6.21-.196 2.156-.523 4.182-.98 5.228.065.98.916.196 3.007-.588 5.164-.85 2.287-1.7 4.64-.85 6.601.785 1.896 3.072 3.007 5.229 4.118 2.288 1.11 4.38 2.222 4.38 3.79 0 .066 0 .197.064.262 0 .065-.065.196-.065.261.066 1.308-2.091 2.419-4.379 3.53z'/%3E%3C/svg%3E");
  --mobile: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 44 60'%3E%3Cpath fill='%23F81717' d='M36.508 0H7.492C3.768 0 .677 3.021.677 6.745v46.51C.677 56.98 3.697 60 7.492 60h29.016c3.724 0 6.815-3.021 6.815-6.745V6.745C43.323 3.02 40.303 0 36.508 0zm4.707 53.255c0 2.6-2.107 4.637-4.707 4.637H7.492c-2.6 0-4.708-2.108-4.708-4.637V6.745c0-2.6 2.108-4.637 4.708-4.637h29.016c2.6 0 4.707 2.107 4.707 4.637v46.51z'/%3E%3Cpath fill='%23F81717' d='M30.607 6.674H13.253a1.08 1.08 0 00-1.054 1.054 1.08 1.08 0 001.054 1.054h17.354a1.08 1.08 0 001.053-1.054 1.08 1.08 0 00-1.053-1.054zM21.965 46.932c-1.968 0-3.513 1.616-3.513 3.513 0 .913.351 1.827 1.054 2.459.632.632 1.545.984 2.459.984 1.967 0 3.512-1.616 3.512-3.513 0-1.897-1.545-3.443-3.512-3.443zm.07 4.918c-.351 0-.703-.14-.984-.421a1.387 1.387 0 01-.421-.984 1.41 1.41 0 011.405-1.405 1.41 1.41 0 011.405 1.405 1.41 1.41 0 01-1.405 1.405z'/%3E%3C/svg%3E");
  --car: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 40 60'%3E%3Cpath fill='%23F81717' d='M36.767 54.738v-3.595h.02a2.376 2.376 0 002.374-2.373v-8.513a2.376 2.376 0 00-2.373-2.373h-.02V23.222h.02a2.376 2.376 0 002.373-2.373v-8.514a2.376 2.376 0 00-2.373-2.373h-.02v-4.7C36.767 2.36 33.992 0 30.58 0H9.419C6.008 0 3.232 2.36 3.232 5.261v4.701h-.02A2.376 2.376 0 00.84 12.335v8.514a2.376 2.376 0 002.373 2.373h.02v14.662h-.02A2.376 2.376 0 00.84 40.257v8.514a2.376 2.376 0 002.373 2.373h.02v3.595c0 2.9 2.776 5.261 6.187 5.261h21.162c3.411 0 6.186-2.36 6.186-5.262zm.02-15.035c.306 0 .555.248.555.554v8.513c0 .306-.249.555-.554.555h-1.86a.555.555 0 01-.554-.554v-8.514c0-.306.25-.554.555-.554h1.858zM18.53 44.514c0-.92.749-1.67 1.67-1.67.92 0 1.67.75 1.67 1.67 0 .921-.75 1.67-1.67 1.67-.921 0-1.67-.749-1.67-1.67zm16.42-6.63h-.02a2.376 2.376 0 00-2.374 2.373v3.348h-8.992a3.497 3.497 0 00-2.455-2.455V21.183h2.771c.503 0 .91-.407.91-.91v-2.772h7.766v3.348a2.376 2.376 0 002.374 2.373h.02v14.662zM17.427 13.82h5.543v5.543H17.426V13.82zm19.36-2.04c.306 0 .555.249.555.554v8.514c0 .305-.249.554-.554.554h-1.86a.556.556 0 01-.554-.554v-8.514c0-.305.25-.554.555-.554h1.858zM5.052 5.26c0-1.898 1.96-3.442 4.368-3.442h21.162c2.408 0 4.368 1.544 4.368 3.442v4.701h-.02a2.376 2.376 0 00-2.374 2.373v3.348h-7.767V12.91a.909.909 0 00-.909-.909h-7.362a.91.91 0 00-.909.91v2.77H7.445v-3.347A2.376 2.376 0 005.07 9.962h-.02v-4.7zM3.212 21.403a.555.555 0 01-.554-.554v-8.514c0-.305.248-.554.554-.554h1.86c.305 0 .554.249.554.554v8.514a.555.555 0 01-.555.554H3.212zm1.84 1.819h.02a2.376 2.376 0 002.373-2.373V17.5h8.163v2.772c0 .503.407.91.91.91h2.771V41.15a3.497 3.497 0 00-2.455 2.455h-9.39v-3.348a2.376 2.376 0 00-2.373-2.374h-.02V23.222zm-1.84 26.103a.555.555 0 01-.554-.554v-8.514c0-.306.248-.554.554-.554h1.86c.305 0 .554.248.554.554v8.513a.555.555 0 01-.555.555H3.212zm6.207 8.856c-2.408 0-4.368-1.544-4.368-3.443v-3.595h.02a2.376 2.376 0 002.374-2.373v-3.347h9.39a3.49 3.49 0 003.363 2.58 3.491 3.491 0 003.365-2.58h8.992v3.347a2.376 2.376 0 002.374 2.373h.02v3.595c0 1.898-1.96 3.443-4.368 3.443H9.419z'/%3E%3C/svg%3E");
  --aero: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 66 60'%3E%3Cpath fill='%23F81717' d='M49.011 31.95h-4.127v-3.63c0-.557-.452-1.009-1.01-1.009H18.722v-4.074c4.32-.432 7.705-4.089 7.705-8.522V2.017h2.14a1.008 1.008 0 100-2.017H7.157a1.008 1.008 0 100 2.017h2.14v12.698c0 4.33 3.232 7.91 7.407 8.478v4.118H1.35c-.558 0-1.01.452-1.01 1.01v9.276c0 .556.452 1.008 1.01 1.008h10.146L2.86 58.591A1.008 1.008 0 003.786 60h9.002c.403 0 .767-.239.926-.609l8.973-20.767.006-.018h21.182a1.01 1.01 0 001.009-1.009v-3.63h4.127a1.01 1.01 0 000-2.018zM11.314 14.714V2.017h13.095v12.698a6.555 6.555 0 01-6.548 6.548 6.555 6.555 0 01-6.547-6.548zM2.357 29.33h4.865v7.259H2.357v-7.26zm9.768 28.654H5.321l8.364-19.36.005-.017h6.807l-8.372 19.377zm30.741-21.395H9.24v-7.26h33.627v7.26zM53.634 30.374c.258 0 .516-.098.713-.295l6.355-6.355a1.008 1.008 0 10-1.426-1.426l-6.355 6.355a1.008 1.008 0 00.713 1.721zM64.651 31.95h-8.986a1.01 1.01 0 000 2.017h8.986a1.01 1.01 0 000-2.018zM54.347 35.837a1.008 1.008 0 10-1.426 1.426l6.355 6.355a1.006 1.006 0 001.427 0 1.008 1.008 0 000-1.427l-6.356-6.354z'/%3E%3C/svg%3E");
  --colours: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 58 60'%3E%3Cpath fill='%23F81717' d='M23.94 1.084C23.94.485 23.455 0 22.855 0H1.17C.569 0 .084.485.084 1.084v45.678c0 6.502 5.29 11.792 11.792 11.792h.255c6.511 0 11.809-5.297 11.809-11.808V1.084zM2.253 15.181h19.518v20.24H2.253v-20.24zM21.771 2.169v10.843H2.253V2.169h19.518zm-9.639 54.217h-.256c-5.307 0-9.623-4.318-9.623-9.624V37.59h19.518v9.156c0 5.316-4.324 9.64-9.639 9.64zM27.818 45.09a1.082 1.082 0 001.533-.01l21.87-22.173c.415-.422.415-1.1 0-1.522L36.44 6.4c-.407-.414-1.136-.413-1.544 0l-7.09 7.19a1.084 1.084 0 101.545 1.521l6.318-6.406 13.256 13.44-21.12 21.41a1.085 1.085 0 00.012 1.535zM56.831 36.145h-15.18a1.085 1.085 0 000 2.168h14.096v19.518H23.578a1.084 1.084 0 100 2.169h33.253c.599 0 1.085-.486 1.085-1.084V37.229c0-.599-.486-1.084-1.085-1.084z'/%3E%3Cpath fill='%23F81717' d='M12.012 43.373a3.98 3.98 0 00-3.976 3.976 3.98 3.98 0 003.976 3.976 3.98 3.98 0 003.976-3.976 3.98 3.98 0 00-3.976-3.976zm0 5.783a1.81 1.81 0 01-1.807-1.807 1.81 1.81 0 011.807-1.807c.996 0 1.808.81 1.808 1.807a1.81 1.81 0 01-1.808 1.807z'/%3E%3C/svg%3E");
  // https://drafts.csswg.org/css-color-4/#the-hsl-notation
  --h: 0;
  --s: 0%;
  --l: 96%;
  --hsl: var(--h) var(--s) var(--l);
  // #f4f4f4
  --offwhite: var(--hsl);
  // #111
  --black:
    var(--h)
    var(--s)
    calc(var(--l) - 89%);
  // #ddd
  --silver:
    var(--h)
    var(--s)
    calc(var(--l) - 9%);
  // #c00
  --red: hsl(0, 100%, 40%);
  // #ff4d4d
  --light-red: hsl(0, 100%, 65%);
  // #f81717
  --torch-red: hsl(0, 94%, 53%);
  // #a70000
  --dark-red: hsl(0, 100%, 32.7%);
  // #7d0000
  --maroon: hsl(0, 100%, 24.5%);
  --maroon:
    var(--h),
    calc(var(--s) + 100%),
    calc(var(--l) - 71.5%);
  --torch-red:
    var(--h)
    calc(var(--s) + 94%)
    calc(var(--l) - 43%);

  // https://drafts.csswg.org/css-color-adjust/#color-scheme-prop
  // https://drafts.csswg.org/css-color-adjust-1/#color-schemes
  color-scheme: dark;

  &:not([data-theme-style]) {
    --foreground: hsl(var(--silver));
    --background: hsl(var(--black));
    --accent: hsl(var(--torch-red));
    --shadow: hsl(var(--black) / 0.16);
  }

  &[data-theme-style='dark'] {
    --background: hsl(var(--black));
    --foreground: hsl(var(--silver));
    --accent: hsl(var(--torch-red));
    --shadow: transparent;
  }

  // &[data-theme-style='light'] {}
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

html {
  inline-size: 100%;
  inline-size: -webkit-fill-available;
  block-size: 100%;
  block-size: -webkit-fill-available;
}

body {
  --duration: 500ms;
  // https://cubic-bezier.com/#.2,1,.3,1
  --easing: cubic-bezier(0.2, 1, 0.3, 1);
  --spacer-1: 1rem; // ~16px
  --spacer-2: 1.5rem; // ~24px
  --spacer-3: 2rem; // ~32px
  --spacer-4: 2.5rem; // ~40px
  --flow-space: var(--spacer-1);
  // https://drafts.csswg.org/css-align-3/#gutter
  --gutter: var(--spacer-3);
  --radii-1: 0.5rem; // ~8px
  --radii-2: 1rem; // ~16px
  --glow:
    0 0 2px hsl(0 0% 0% / 0.1),
    0 4px 12px hsl(var(--torch-red) / 0.5);

  min-inline-size: 100%;
  min-inline-size: -webkit-fill-available;
  min-block-size: 100%;
  min-block-size: -webkit-fill-available;

  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  transition:
    color var(--duration) var(--easing),
    background-color var(--duration) var(--easing);
}

[data-hidden] {
  @include config.is-hidden;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
